body {
    font-family: sans-serif;
    background: "/imad-app-v2/ui/1444821521-bebd99bd1bb64a76886eac55c16ca7a0.jpeg";
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

